.grid {
    display: grid;
    grid-template-columns: repeat(13, 30px);
    gap: 2px;
    margin: 3px 3px 9px 3px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.cell.alive {
    background-color: rgb(34, 0, 128);
}

.cell.dead {
    background-color: white;
}

button {
    margin: 6px;
}

@media (max-width: 768px) {
    .grid {
        width: 100%;
    }

    .cell {
        width: 30px;
        height: 30px;
    }
}