.grid {
    display: grid;
    grid-template-columns: repeat(var(--size-px), 8px);
    gap: 1px;
    margin: 3px 3px 9px 3px;
}

.cell {
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
}

.cell.alive {
    background-color: rgb(34, 0, 128);
}

.cell.dead {
    background-color: white;
}

button {
    margin: 6px;
}

label{
    margin-left: 15px;
}

@media (max-width: 768px) {
    
    .grid {
        width: 100%;
    }

    .cell {
        width: 10px;
        height: 10px;
    }
}